<nav class="navbar shadow fixed-top" style="background-color: aqua;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='catpro.png') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      <span style="color: rgb(0, 0, 0);">Shop210, Go buy something!</span>
    </a>
    <a href="{{ url_for('cart') }}" class="btn btn-dark position-relative">
      🛒 Cart
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ session.get('cart')|length if session.get('cart') else 0 }}
          <span class="visually-hidden">items in cart</span>
      </span>
  </a>
  
  </div>
</nav>

<div class="mt-5"></div>
